.about {
  .landing-section {
    padding: 5vh 0;
    background-color: #f8f9fa;
    height: 400px;
    background-image: linear-gradient(-25deg , #90BF4D 1%, rgba(0,0,0,0.7) 20%),url("../../../assets/images/bg-building.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;

    .content {
      padding: 3vh 0;
      position: relative;
      z-index: 10!important;

      h1 {
        font-weight: 600;
        color: #90BF4D;
        font-size: 3rem;
        margin-bottom: 20px;
        line-height: 5rem;
      }

      p {
        font-size: 1rem;
        color: #fff;
        width: 80%;
        margin-bottom: 30px;

        strong {
          color: #90BF4D;
        }
      }

      .btn-cta {
        background-color: #90BF4D;
        border: 1px solid #90BF4D;
        border-radius: 30px;
        font-style: 0.9rem;
        letter-spacing: 1px;
        color: #f1f1f1;
        font-weight: 600;
        padding: 10px 50px;
      }
    }
  }

  .our-story {
    padding: 10vh 0;
    background-image: linear-gradient(to right , #fff8 100%,transparent),url("../../../assets/images/dots-bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    // display: flex;
    // align-items: center;
    p {
      color: #5f6063;
      font-size: 0.9rem;
      line-height: 1.5rem;

      strong {
        color: #90BF4D;
      }

      .font-weight-bold {
        font-weight: 0.84rem;
      }
    }

    .illustration {
      width: 100%;

      img {
        display: block;
        width: 90%;
        height: auto;
        margin: 20px auto;
        filter: drop-shadow(0 10px 40px #90BF4D40);
      }
    }
  }

  .principles {
    padding: 10vh 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e1e1e1;

    .section-title {
      color: #90BF4D;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .section-description {
      font-size: 0.9rem;
      margin-bottom: 10vh;
      color: #5f6063;
    }

    .col-md-3 {
      border-radius: 0;
      border-right: 2px solid #90BF4D33;

      &:last-child {
        border-right: none;
      }
    }

    .card {
      background-color: transparent;
      text-align: center;
      border: none;
      margin-bottom: 30px;

      .title {
        color: #90BF4D;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .description {
        color: #5f6063;
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .landing-section {
    padding-top: 100px!important;
    height: auto!important;

    .content {
      h1 {
        font-size: 2rem!important;
        line-height: 2.5rem!important;
      }

      p {
        width: 100%!important;
      }
    }
  }

  .our-story {
    .illustration {
      width: 100%;

      img {
        display: block;
        width: 70%!important;
        height: auto;
        margin: 20px auto;
        filter: drop-shadow(0 10px 40px #90BF4D40);
      }
    }
  }

  .principles{
    .col-md-3{
      border-right: none!important;

    }
  }
}
