.contact-form {
  padding-bottom: 10vh;

  .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;

    span {
      color: #90BF4D;
    }
  }

  .section-description {
    color: #80868b;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .social-links {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;

    a {
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 2px solid #90BF4D;
      background-color: transparent;
      color: #90BF4D;
      font-size: 1.2rem;
      letter-spacing: 2px;
      text-decoration: none !important;
      margin: 0 10px;
      padding: 0 0 0 4px;
      transition: all 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #90BF4D;
        color: #fff;

        span {
          display: block!important;
          z-index: 10;
          position: absolute;
          top: -30px;
          left: -10px;
          white-space: nowrap!important;
          color: #fff!important;
          background-color: #000;
          border-radius: 4px;
          font-size: 0.7rem!important;
          padding: 2px 10px;
          letter-spacing: normal;
        }
      }

      span {
        display: none;
      }
    }
  }

  .illustration-holder {
    img {
      width: 80%;
      display: block;
      margin: 20px auto;
      filter: drop-shadow(0 10px 40px #90BF4D40);
    }
  }

  .form {
    .form-group {
      margin-bottom: 20px;

      label {
        font-size: 0.9rem;
        color: #5f6063;
        font-weight: 600;
        transition: all 0.2s;
      }

      &:hover {
        label {
          color: #90BF4D;
        }
      }
    }

    .form-control {
      border: none;
      border-bottom: 2px solid #e1e1e1;
      border-radius: 0;
      box-shadow: none;
      outline: none;
      transition: all 0.2s;

      &:active,
      &:focus,
      &:hover {
        border-bottom: 2px solid #90BF4D;
      }
    }

    .form-error {
      border-bottom: 2px solid #d11a2a!important;
    }

    .btn-submit {
      background-color: #90BF4D;
      color: #fff;
      width: 100%;
      padding: 10px;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 20px 0;
    }
  }

  .success-div {
    color: #5f6063;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center!important;

    img {
      width: 140px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    span {
      font-size: 1rem;
      color: #90BF4D;
    }

    a {
      color: #5f6063;
      text-decoration: underline;
    }
  }
}

.padding-vh {
  padding-top: 10vh;
}
