.services {
  .landing-section {
    padding: 5vh 0;
    background-color: #f8f9fa;
    height: 400px;
    background-image: linear-gradient(-25deg , #90BF4D 1%, rgba(0,0,0,0.7) 20%),url("../../../assets/images/bg-table.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;

    .content {
      padding: 3vh 0;
      position: relative;
      z-index: 10!important;

      h1 {
        font-weight: 600;
        color: #90BF4D;
        font-size: 3rem;
        margin-bottom: 20px;
        line-height: 5rem;
      }

      p {
        font-size: 1rem;
        color: #fff;
        width: 80%;
        margin-bottom: 30px;

        strong {
          color: #90BF4D;
        }
      }

      .btn-cta {
        background-color: #90BF4D;
        border: 1px solid #90BF4D;
        border-radius: 30px;
        font-style: 0.9rem;
        letter-spacing: 1px;
        color: #f1f1f1;
        font-weight: 600;
        padding: 10px 50px;
      }
    }
  }

  .services-listing {
    padding: 10vh 0;

    .service-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      border-bottom: 2px solid #e1e1e1;
      margin-bottom: 40px;
      padding: 5vh 20px;
      position: relative;

      .service-illustration-holder {
        display: block;
        width: 100%;
        margin-right: 5vw;
        margin-left: 0;


        img {
          width: auto;
          height: 300px;
          display: block;
          margin-bottom: 20px;
          filter: drop-shadow(0 10px 5px #4673b630);
        }
      }

      .service-index{
        position: absolute;
        top: 0;
        font-size: 7rem;
        font-weight: 900;
        color: #f1f1f177;
        top: -80px;
        left: -40px;
        z-index: -1;
      }

      h4 {
        font-size: 1.7rem;
        margin-bottom: 20px;
        color: #3c4043;
        font-weight: 600;
      }

      p {
        font-size: 1rem;
        line-height: 1.7rem;
        color: #80868b;
        margin-bottom: 30px;
      }

      .inquire {
        display: inline-block;
        margin-bottom: 0;
        margin-top: auto;
        color: #27B8E4;
        font-size: 0.9rem;
        font-weight: 600;
        cursor: pointer;

        i{
          margin-left: 5px;
        }
      }
    }

    .row-reverse {
      flex-direction: row-reverse;

      .service-illustration-holder{
        margin-left: 5vw;
        margin-right: 0;
      }
    }
  }

  .services-listing-ms {
    padding: 10vh 0;

    .service-item {
      border: 1px solid #e1e1e1;
      border-radius: 8px;
      margin-bottom: 40px;
      padding: 20px;
      cursor: pointer;
      height: 90%;
      position: relative;

      &:hover {
        border: 1px solid #27B8E4;
      }

      .service-illustration-holder {
        display: block;
        width: 100%;

        img {
          width: auto;
          height: 100px;
          display: block;
          margin-bottom: 20px;
          filter: drop-shadow(0 10px 5px #4673b630);
        }
      }

      h4 {
        font-size: 0.9rem;
        margin-bottom: 20px;
        color: #3c4043;
        font-weight: 600;
      }

      p {
        font-size: 0.8rem;
        color: #80868b;
        margin-bottom: 40px;
      }

      .inquire {
        display: block;
        margin-bottom: 0;
        margin-top: auto;
        color: #27B8E4;
        font-size: 0.8rem;
        font-weight: 600;
        position: absolute;
        bottom: 20px;

        i{
          margin-left: 5px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .landing-section {
    padding-top: 100px!important;
    height: auto!important;

    .content {
      h1 {
        font-size: 2rem!important;
        line-height: 2.5rem!important;
      }

      p {
        width: 100%!important;
      }
    }
  }
}
