/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './assets/css/font-montserrat.css';
@import "./assets/css/font-roboto.css";
@import './assets/css/font-great-vibes.css'; // @import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
// @import '../node_modules/@fortawesome/fontawesome-free/css/solid.css';
// @import '../node_modules/@fortawesome/fontawesome-free/css/brands.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css'; // green - 90BF4D
// lightblue - 27B8E4
// white-skin color -  ffb6b6
// dark-skin color - a0616a

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  // background-color: #f8f9fa;
}

* img::selection {
  background-color: transparent!important;
}

* img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

*a,
button {
  outline: none!important;
  box-shadow: none!important;
}

* strong {
  font-weight: 600;
}

::selection {
  // color: #f1f1f1;
  // background-color: #80868b!important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #80868b99 !important;
  font-size: 12px;
  opacity: 1;
  font-family: 'Montserrat', sans-serif !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #80868b99 !important;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #80868b99 !important;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif !important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: 70vw;
}

.redText {
  color: #d11a2a !important;
}

#serviceRequestModal {
  .modal-header {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09);
  }

  .modal-body {
    &::-webkit-scrollbar {
      width: 6px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #e1e1e1;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background: #003d4c;
    }

    .description {
      color: #5f6063;
    }

    input,
    select,
    textarea {
      border: 2px solid #e1e1e1 !important;
      outline: none !important;
      box-shadow: none !important;
      background-clip: padding-box !important;
      color: #5f6063 !important;
      padding: 10px 12px!important !important;
    }

    input:active,
    input:focus,
    input:hover,
    select:active,
    select:focus,
    select:hover,
    textarea:active,
    textarea:focus,
    textarea:hover {
      border: 2px solid #3c4043 !important;
    }

    * label {
      color: #5f6063;
      font-weight: 600;
      font-size: 0.9rem;
      letter-spacing: 1px;
    }

    .success-div {
      color: #5f6063;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center!important;

      img {
        width: 140px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      span {
        font-size: 1rem;
        color: #5f6063;
      }

      a {
        color: #5f6063;
        text-decoration: underline;
      }
    }
  }

  .modal-footer {
    border: none;

    .btn {
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 4px;
      color: #3c4043;
      padding: 6px 20px;
      letter-spacing: 1px;
    }

    .btn-close {
      background-color: #e1e1e1;
    }

    .btn-submit {
      background-color: #90BF4D;
    }
  }
}
@media (max-width: 1500px) {
  .container {
    max-width: 80vw;
  }
}
@media (max-width: 1380px) {
  .container {
    max-width: 90vw;
  }
}
@media (max-width: 1000px) {}
@media (max-width: 600px) {
  .container {
    max-width: 96%!important;
  }
}
